<legend>Editing Team : <%= @team.name %></legend>

<div class='row'>
  <div class='medium-4 columns'>
    <%= render 'form', team: @team %>
  </div>
</div>

<% content_for :title do %>
  Editing Team <%= @team.name %>
<% end %>
